<div class="containerBody">
    @for (int p = 0; p < _posts.Count(); p++)
    {
        if (_isActive)
        {
            <div class="bodySquare">
                <div class="squareBase normalCursor row">
                    <div class="left col-6">
                        <a href=@($"/post-editor/{_title}/{_posts[p].Title}")>
                            <img style="width: 100%" src="@_posts[p].ImageUrl" />
                        </a>
                    </div>
                    <div class="right col-6">
                        <a class="blackFont" href=@($"/post-editor/{_title}/{_posts[p].Title}")><h1>@_posts[p].Title</h1></a>
                        <span>@_posts[p].Intro</span>
                        <h3>Posted @_posts[p].Date</h3>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="bodySquare">
                <div class="squareBase normalCursor row">
                    <div class="left col-6">
                            <img style="width: 100%" src="@_posts[p].ImageUrl" />
                    </div>
                    <div class="right col-6">
                        <h1>@_posts[p].Title</h1>
                        <span>@_posts[p].Intro</span>
                        <h3>Posted @_posts[p].Date</h3>
                    </div>
                </div>
            </div>
        }


    }
</div>

<style>
    .containerBody {
        width: 100%;
    }

    .bodySquare {
        width: 75%;
        height: 300px;
    }

    .squareBase {
        width: 125%;
        height: 250px;
    }
    .normalCursor {
        cursor: default !important;
    }
    .blackFont, .blackFont:hover {
        color: black;
        font-weight: 700;
    }
</style>

@code {
    [Parameter]
    public PageData[] posts { get; set; }
    [Parameter]
    public bool isActive { get; set; }
    [Parameter]
    public string title { get; set; }

    private List<PageData> _posts = new List<PageData>();
    private bool _isActive = false;
    private string _title = "title";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (posts != null && posts.Length > 0) _posts = posts.ToList();
        isActive = _isActive;
        if (title != null) _title = title;
    }
}
